{#
/**
 * @file
 * Profile ws custom block.
 */
#}
<div class="block-popularactors flex results_poster_card">
  {% for item in results %}
    <div class="card">
      <a class="image" id="person_{{ item.id }}" class="result"  href="/person/{{ item.id }}"
        title="{{ item.name }}" alt="{{ item.name }}">
        <img alt="Card image cap" class="card-img-top" src="{{ base_url }}w235_and_h235_face{{ item.profile_path }}" alt="{{ item.name }}">
      </a>
      <div class="card-body">
        <a class="image" class="result" href="/person/{{ item.id }}" id="person_{{ item.id }}">
          <h5 class="card-title">{{ item.name|capitalize }}</h5>
        </a>
      </div>
    </div>
  {% endfor %}
</div>




