
<div class="movie_content">

  <div class="custom_bg">
    <div class="single_column">
      <section class="images inner flex">
        <div class="poster">
          <div class="image_content">
            <a class="" href="{{ base_url }}w300_and_h450_bestv2{{ poster_path }}">
              <img alt="{{ title|t }}" class="" sizes="auto"
                src="{{ base_url }}w300_and_h450_bestv2/{{ poster_path }}">
            </a>
          </div>
        </div>
        <div class="header_poster_wrapper">
          <section class="header poster">
            <div class="title" dir="auto">
              <span>
                <a href="#">
                  <h2 class="45">{{ title|t }}</h2>
                </a>
                {% if release_date %}
                  <span class="release_date">({{ release_date|date("Y") }})</span>
                {% endif %}
              </span>
            </div>
            {% if overview %}
              <div class="header_info">
                <h3 dir="auto">Overview</h3>
                <div class="overview" dir="auto">
                  <p>{{ overview|t }}</p>
                </div>
              </div>
            {% endif %}
          </section>
        </div>
      </section>
    </div>
  </div>

  <div class="column_wrapper flex">
    <div>
      <div class="white_column">
        <div>
          <section class="top_billed scroller">
            <h3 dir="auto">Top Billed Cast</h3>
            {% for item_cast in cast %}
              <ol class="people scroller">
                <li class="card">
                  <a href="/person/{{ item_cast.id }}">
                    <img alt="{{ item_cast.name }}" class="profile lazyautosizes lazyloaded"
                      src="{{ base_url }}w138_and_h175_face{{ item_cast.profile_path }}">
                  </a>
                  <div class="card_body">
                    <p><a href="/person/{{ item_cast.id }}">{{ item_cast.name }}</a></p>
                    <p class="character">{{ item_cast.character }}</p>
                  </div>
                </li>
              </ol>
            {% endfor %}
          </section>
        </div>
      </div>
      <div class="grey_column">
        <div>
          <section class="split_column">
            <div>
              <div class="column no_bottom_pad">
                <section class="facts left_column">
                  {% if original_language %}
                    <p>
                      <strong><bdi>Original Language: </bdi></strong>
                      {{ original_language|t }}
                    </p>
                  {% endif %}
                  {% if genres %}
                    <strong><bdi>Genres: </bdi><bdi></strong>
                    <span class="badge badge-warning">{{ genres }}</span>
                  {% endif %}
                  {% if production_companies %}
                    <p>
                      <strong><bdi>Production companies: </bdi></strong>
                      {{ production_companies }}
                    </p>
                  {% endif %}
                  {% if popularity %}
                    <p>
                      <strong><bdi>Popularity: </bdi></strong>
                      {{ popularity }}%
                    </p>
                  {% endif %}
                </section>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

</div>

